@import "./styles/theme.css";
@import "tailwindcss";

/* -------------------- */
/* Global Reset */
/* -------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

::selection {
  background: #00ff88;
  color: #000;
}

.heading-font{
  font-family: "Space Grotesk", sans-serif;
}